html {
    font-family: "calibri";
    font-size: 16;
}

body {
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#onPlay-vid {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.items {
    position: absolute;
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35%;
    opacity: 0;
    transform: translateY(30px);
    transition: all 500ms ease-in-out;
}

.items:hover {
    opacity: 1;
    transform: translateY(0);
}

.items img {
    cursor: pointer;
    height: 100px;
    width: 180px;
    border: 3px solid yellowgreen;
    object-fit: cover;
    opacity: 0.5;
}

.items img:hover {
    opacity: 1;
}
